
p{
	color:#FFFFFF;
}

#Columna{
	margin: 500px;
	margin-top: 20px;
	border: solid;
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	align-items: flex-end;

}


#Linea{
 margin: 500px;
 margin-bottom: 500px;
 display: flex;
 border: solid;
 flex-direction: row-reverse;
 justify-content: center;
 align-items: center;
 height: 400px;
 width: 300px;

}

#Espacio{
	margin-bottom: 500px;
	margin-right: auto;
	margin-left: auto;
	border: solid;
	display: flex;
	justify-content: space-between;
}



.Rojo{
	
	height: 100px;
	width: 100px;
	background-color:red;
	display: flex;
	justify-content: center;
	align-items: center;

} 
.Verde{
	
	height: 100px;
	width: 100px;
	background-color:Green;
	display: flex;
	justify-content: center;
	align-items: center;
	
} 
.Azul{
	
	height: 100px;
	width: 100px;
	background-color:Blue;
	display: flex;
	align-items: center;
	justify-content: center;
}